@using StudentiMVC.Models
@model List<Student>

@{ 
    int brojac = 0;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2>@ViewBag.Title</h2>
        <table border="2" cellspacing="2" cellpadding="4"  >
            <tr>
                
                <td>R.br.</td>
                <td>ID</td>
                <td>Ime i prezime</td>
                <td>Spol</td>
                <td>OIB</td>
                <td>Datum rođ.</td>
                <td>Godina studija</td>
                <td>Redovni student</td>
            </tr>
            
                @foreach (Student stD in Model)
                {
                    string sp = "";
                    if (stD.RedovniStudent == RedovniStudent.Redovni)
                    {
                        sp = "Redovni";
                    }
                    else
                    {
                        sp = "Vanredni";
                    }

                    {
                        string sp1 = "";
                        if (stD.Spol == Spol.Muški)
                        {
                            sp1 = "Muški";
                        }
                        else
                        {
                            sp1 = "Ženski";
                        }
                    }
                    <tr>
                        <td>@(++brojac)</td>
                        <td>@stD.Id</td>
                        <td>@stD.Ime @stD.Prezime</td>
                        <td>@stD.Spol</td>
                        <td>@stD.OIB</td>
                        <td>@stD.Datumrodjenja</td>
                        <td>@stD.GodinaStudija</td>
                        <td>@stD.RedovniStudent</td>



                    </tr>

                }




        </table>
    </div>
    <br />
    <li>@Html.ActionLink("Početna", "Index")</li>
</body>
</html>
