@using StudentiMVC.Models
@model Student


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string spol;
    if (Model.Spol == 'M')
    {
        spol = "muški";
    }
    else
    {
        spol = "ženski";
    }
}

<h2>@ViewBag.Title</h2>
<h1>@Model.Ime @Model.Prezime</h1>
<hr />
<div class="row">
    <div class="col-md-2">
        Spol:
    </div>
    <div class="col-md-10">
        @spol
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        OIB:
    </div>
    <div class="col-md-10">
        @Model.OIB
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Datum rođenja:
    </div>
    <div class="col-md-10">
        @Model.DatumRodjenja.ToString("dd.MM.yyyy")
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Godina studija:
    </div>
    <div class="col-md-10">
        @Model.GodinaStudija
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Redoviti student:
    </div>
    <div class="col-md-10">
        @if (@Model.RedovniStudent == true)
        {
            <span>Da</span>
        }
        else
        {
            <span>Ne</span>
        }
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Povratak na popis studenata", "Popis")
</p>