@using StudentiMVC.Models

@model List<Student>

@{ 
    int brojac = 0;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2>@ViewBag.Title</h2>
        <table border="1" cellspacing="2" cellpadding="4"  >
            <tr>
                
                <td>R.br.</td>
                <td>ID</td>
                <td>Ime i prezime</td>
                <td>Spol</td>
                <td>OIB</td>
                <td>Datum rođ.</td>
                <td>Godina studija</td>
                <td>Redovni student</td>
            </tr>
            
                @foreach (Student stD in Model)
                {
                  
                    <tr>
                        <td>@(++brojac)</td>
                        <td>@stD.Id</td>
                        <td>@stD.Ime @stD.Prezime</td>
                        <td>@stD.Spol</td>
                        <td>@stD.OIB</td>
                        <td>@stD.Datumrodjenja</td>
                        <td>@stD.GodinaStudija</td>
                        <td>@stD.RedovniStudent</td>



                    </tr>

                }




        </table>
    </div>
    <br />
    @Html.ActionLink("Početna", "Index")
</body>
</html>
