@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1> Ovo je baza svih studenata veleučilišta </h1>
    <p>Svi studenti na jednome mjestu!</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="#">Više Informacija!</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Pretraživanje i pregled!</h2>
        <p>Pretraživanje po nazivu, pretraživanje po spolu ,ažuriranje studenta , brisanje studenta.</p>

    </div>
</div>







<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
    <h2>@ViewBag.Title</h2>
    <p> Ovo je baza svih studenata veleučilišta </p>
    <p>Odaberi link : </p>
        <ul>
            <li>@Html.ActionLink("Popis studenata","Popis","Student")</li>
            <li>@Html.ActionLink("Detaljno o studentima", "Detaljno")</li>
            <li>@Html.ActionLink("Upiši novog studenta","Azuriraj")</li>
        </ul>
    </div>
</body>
</html>
