@using StudentiMVC.Models
@model Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <h2>@ViewBag.Title</h2>
        <h4>Da li ste sigurni da želite obrisati studenta @Model.Ime  @Model.Prezime ?</h4>
<hr />

       @using (Html.BeginForm())
       {
           @Html.AntiForgeryToken()
           <input type="submit" value="Obriši" class="btn btn-danger" />
           @Html.ActionLink("Povratak bez brisanja!", "Popis")
       }
       

